<nav>
    <a href="/movies"><div>Index</div></a>
    <a href="/movies/new"><div>New Movie</div></a>
    <a href="/users/signin"><div>Signin</div></a>
    <form method="POST" action="/movies/s">
        <div class="search">
            <input type="text" name="search"  placeholder="Search">
            <input type="submit" value="Search">
        </div>
    </form>
</nav>