<nav>
    <div class="search" id="searchPage">
        <form method="POST" action="/movies/s">
            <input type="text" name="search"  placeholder="Search" class="searchengine" id="searchShowNav">
            <!-- <button type="submit" class="searchBtn" id="shownav"> </button> -->
            <input type="submit" value="Search" class="searchBtn" id="shownav">
        </form>
    </div>
    <div class="nav-menu">
        <% if (typeof user !== 'undefined') { %>
        <p class="navbar-item"><%= user.username %></p>
        <br />
        <% } %>
        <!-- routes -->
         <% if (typeof routes !== 'undefined') { %> <% routes.forEach((route) => { %>
        <a class="nav-item" href="<%= route.href %>"> <%= route.title %> </a>
        <% }) %> <% } %>
        <br />
    </div>
</nav>