<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

    <%- include('partials/head.ejs') %>

=======
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Page</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
>>>>>>> b04ce28b60bab3dd0c9226c5b59ca5800d40c080
<body>

    <%- include('partials/nav.ejs') %>
    
    <h1>New Movie Page</h1>
    <form method="POST" action="/movies">
        <div>
            <label for="title">Movie Title:</label>
            <input type="text" name="title" id="">
        </div>
        <div>
            <label for="image">Movie Image:</label>
            <input type="text" name="image" id="">
        </div>
        <div>
            <label for="releaseDate">Movie Release Date:</label>
            <input type="text" name="releaseDate" id="">
        </div>

        <input type="submit" id="" value="Create New Movie">
    </form>
</body>
</html>