<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/nav.ejs') %>  
    <h1>New Movie Page</h1>
    <form method="POST" action="/movies">
        <div>
            <label for="title">Movie Title:</label>
            <input type="text" name="title" id=""> 
        </div>
        <br />
        <div>
            <label for="image">Movie Image:</label>
            <input type="text" name="image" id="">
        </div>
        <br />
        <div>
            <label for="releaseDate">Release Date:</label>
            <input type="text" name="releaseDate" id="">
        </div>
        <br />
        <div>
            <label for="plot">Plot: </label>
            <input type="text" name="plot" id="">
        </div>
        <br />
        <div>
            <label for="year">Year:</label>
            <input type="number" name="year" id="">
        </div>
        <br />
        <div>
            <label for="director">Director :</label>
            <input type="text" name="director" id="">
        </div>
        <br />
        <div>
            <label for="stars">Stars : </label>
            <input type="text" name="stars" id=""> 
        </div>
        <br />
        <input type="submit" id="" value="Create New Movie">
    </form>
</body>
</html>