<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>

    <%- include('partials/nav.ejs') %>
    
    <h1>New Movie Page</h1>
    <form method="POST" action="/movies">
        <div>
            <label for="title">Movie Title:</label>
            <input type="text" name="title" id="">
        </div>
        <div>
            <label for="image">Movie Image:</label>
            <input type="text" name="image" id="">
        </div>
        <div>
            <label for="releaseDate">Movie Release Date:</label>
            <input type="text" name="releaseDate" id="">
        </div>

        <input type="submit" id="" value="Create New Movie">
    </form>
</body>
</html>