<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <header>
        <h1>Create New Movie </h1>
    </header>
        <%- include('partials/nav.ejs') %>  
    <form method="POST" action="/movies" class="createMovie page">
        <div class="createTitle">
            <label for="title">Movie Title</label>
            <br />
            <input type="text" name="title" id=""> 
        </div>
        <br />
        <div class="createImage">
            <label for="image">Movie Image</label>
            <br />
            <input type="text" name="image" id="">
        </div>
        <br />
        <div class="createRelease">
            <label for="releaseDate">Release Date</label>
            <br />
            <input type="text" name="releaseDate" id="">
        </div>
        <br />
        <div class="createPlot">
            <label for="plot">Plot</label>
            <br />
            <input type="text" name="plot" id="">
        </div>
        <br />
        <div class="createYear">
            <label for="year">Year</label>
            <br />
            <input type="number" name="year" id="">
        </div>
        <br />
        <div class="createDirector">
            <label for="director">Director </label>
            <br />
            <input type="text" name="director" id="">
        </div>
        <br />
        <div class="createStars">
            <label for="stars">Stars </label>
            <br />
            <input type="text" name="stars" id=""> 
        </div>
        <div class="createBtn">
            <br />
            <input type="submit" id="" value="Create New Movie">
        </div>
    </form>
</body>
</html>