<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <article class="media">
          <div class="media-left">
          </div>
          <div class="media-content">
            <div class="content">
              <strong> <%= reviews.user.username %> </strong>
              <br />
              <!-- create our stars -->
      
              <% for( let index = 0; index < 5; index++ ) { %> <% if (reviews.rating > index) { %>
              <span class="icon">
                <i class="fas fa-star yellow"></i>
              </span>
              <% } else { %>
              <span class="icon">
                <i class="fas fa-star"></i>
              </span>
              <% } %> <% } %>
      
              <br />
              <%= reviews.comment%>
      
              <hr />
              <a href="/movies/<%= reviews.movie._id %>">
                <%= reviews.movie.title %></a>
            </div>
          </div>
          <div class="media-right">
            <section class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"></a>
      
              <div class="navbar-dropdown">
                <a class="button is-primary m-2 navbar-item"> Edit </a>
                <hr class="navbar-divider" />
                <a class="button is-danger m-2 navbar-item">Remove</a>
              </div>
            </section>
          </div>
        </article>
      </div>
</body>
</html>