<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <header>
        <h1>New Review</h1>
    </header>
    <form method="POST" action="/reviews" class="newReview">
        <div class="rating">
            <label for="rating"> Review Rating </label>
            <br />
            <input name="rating" type="number" max="5" min="0"/>
        </div>
        <br />
        <div class="comment">
            <label for="comment"> Review-Comment </label>
            <br />
            <input name="comment" type="text" />
        </div>
        <br />
        <div class="relatedMovie">
            <label for=""> Related Movie </label>
            <br />
            <select name="movie" id="">
                <% for(let i=0; i<movies.length; i++) { %>
                    <option value="<%=movies[i]._id%>"><%=movies[i].title%></option>
                <% } %>
            </select>
        </div>
        <br />
        <div class="createNew">
            <input type="submit" value="Create new review">
        </div>
    </form>
</body>
</html>