<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <header>
        <h1>New Review</h1>
    </header>
    <%- include('../partials/nav.ejs') %>
    <form method="POST" action="/reviews" class="newReview">
        <div class="rating">
            <label for="rating"> Review Rating: </label>
            <br />
            <input name="rating" type="number" />
        </div>
        <br />
        <div class="comment">
            <label for="comment"> Review Comment: </label>
            <br />
            <input name="comment" type="text" />
        </div>
        <br />
        <div>
            <label for=""> Related Movie: </label>
            <select name="movie" id="">
                <% for(let i=0; i<movies.length; i++) { %>
                    <option value="<%=movies[i]._id%>"><%=movies[i].title%></option>
                <% } %>
            </select>
        </div>
        <input type="submit" value="Create new review">
    </form>
</body>
</html>