*{
    margin: 0px auto;
    width: 0px auto;
    box-sizing: border-box;
}

html {
    height: 100%;
}

/* ------ body style--------- */
body {
    display: flex;
    flex-direction: column;
    background-color:  black;
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://media0.giphy.com/media/cQhmYBg9qPaLYdqajA/giphy.gif?cid=790b7611b7be5e7b00dc148381ed1d73acf73692fdae5473&rid=giphy.gif&ct=g');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ----- header tag------- */
header{
    text-align: center;
    font-size: larger;
    color:yellow;
    text-shadow: 2px 2px black;
    /* margin-top: 100px; */
    padding: 0px;
}

/* -------search engine input---- */
.searchengine {
    align-self: center;
    text-align: center;
    border: 1px solid yellow;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor:pointer;
    font-size:20px;
    width: 100%;
    height: 30px;
}

.searchBtn {
    padding: 0 10px;
    background:yellow;
    border: 1px solid yellow;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top-left-radius: 0 ;
    border-bottom-left-radius: 0 ;
    font-size: 20px;
    color:black;
}

/* ----search hover---- */
.searchBtn:hover{
    background:lightblue;
    border-color: lightblue;
    
} 

/* ---- nav- bar---- */
.nav-menu{
    font-size: 25px;
    color: white;
    width: 100%;
    /* position: absolute;
    left:50px;
    margin-bottom: 40px; */
}

nav {
    display: flex;
    width: 100%;
}

.routes {
    justify-content: center;
    width: 100%;
}

/* ---nav p tag------ */
nav p {
    display: flex;
    flex-direction: row;
    margin: 0;
    /* margin-top: 20px 20px 20px 30px; */
}

/* ----nav a tag---- */
.nav-item {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    /* font-size: 30px; */
    color: whitesmoke;
    text-decoration: none;
}

/* ----nav a tag---- */
.nav-menu .nav-item a {
    margin: 5px;
    height: auto;
}
/* ----nav item --- */
.nav-item {
    font-size: 20px;
    color:whitesmoke;
    padding: 5px;
}

/* ------nav a hover-------- */
nav a:hover {
    font-weight: bold;
    /* background-color: lightgrey; */
    color: lightblue;
}

.user-search {
    display: flex;
    justify-content: right;
    height: 100px;
    width: 100%;
}

.welcome {
    justify-content: center;
    align-items: center;
    width: 50%;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 50%;
}

nav form {
    display: flex;
}

/* ------ title pages------- */
.movieTitle{
    text-align: center;
    font-size: 20px;
    height: 60px;
    color:whitesmoke;
}

/* ------- Register form-------- */
.createMovie{
    margin-top: 80px;
}
/* -----edit Movie Page nav----  */
.nav-editMovie{
    font-size: 20px;
    text-decoration: none;
    color:whitesmoke;
    position: absolute;
    left:50px;
    margin-top: 60px;
}

/* -----edit Movie Page nav a tag----  */
.nav-editMovie a {
    text-decoration: none;
    color:whitesmoke;
}

/* -----edit Movie Page----  */
.editMovie{
    margin-top: 60px;
    position: center;
    left:60px;
}

/* -------- Edit Movie title------- */
.editMovie .titleMovie{
    font-size: 25px;
}

/* --------Edit Movie title input------*/
.editMovie .titleMovie input{
    font-size: 25px;
    width: 500px;
}

/* ---------Edit Movie title input-----*/
.editMovie .movieImg input{
    font-size: 25px;
    width: 500px;
}

/* --------Edit Movie release----- */
.editMovie .release{
    font-size: 25px;
}

/* ---------Edit Movie release input-----*/
.editMovie .release input{
    font-size: 25px;
    width: 500px;
}

/* ---------- Edit Movie edit button------*/
.editMovie .editBtn input{
    font-size: 25px;
    width: 500px;
    border-radius: 10px;
    background-color:gold;
}

/* --------New Movie create Release------- */
.createMovie .create label{
    font-size: 25px;
}
/* --------New Movie create Image------- */
.createMovie .create input{
    font-size: 30px;
    width: 500px;
}

/* --------New Movie create Image------- */
.createMovie .createBtn input{
    width: 500px;
    border-radius: 10px;
    background-color:gold;
    font-size: 25px;
}
/* -------register home--------------- */
.register-home {
    font-size: 40px;
    text-decoration: none;
    color:whitesmoke;
    position: absolute;
    left:50px;
    margin-top: 60px;
}

/* -------register page a link -- */
.register-home a{
    text-decoration: none;
    color:white; 
}

/* ------- Register form-------- */
.registerForm{
    margin-top: 80px;
    position: center;
    left:60px;
}

/* -------- register form label------- */
.registerForm .Uname{
    font-size: 25px;
}

/* ---------- register form input------*/
.registerForm .Uname input{
    font-size: 25px;
    width: 300px;
}

/* -------- register form label------- */
.registerForm .email{
    font-size: 25px;
}

/* ---------- register form email------*/
.registerForm .email input{
    font-size: 25px;
    width: 300px;
}

/* -------- register form password------- */
.registerForm .password{
    font-size: 25px;
}

/* ---------- register form password------*/
.registerForm .password input{
    font-size: 25px;
    width: 300px;
}

/* ---------- register form input------*/
.registerForm .create input{
    font-size: 25px;
    width: 300px;
    border-radius: 10px;
    background-color:gold;
}

/* --------sign in home page link ------ */
.signin-home {
    font-size: 40px;
    text-decoration: none;
    color:whitesmoke;
    position: absolute;
    left:50px;
    margin-top: 60px;
}

/* -------sign in page a link ----- */
.signin-home a{
    text-decoration: none;
    color:white; 
}

/* ------- signin form-------- */
.signinForm{
    margin-top: 80px;
    position: center;
    left:60px;
}

/* -------- sign in form User name------- */
.signinForm .Uname{
    font-size: 25px;
}

/* ---------- sign in form input------*/
.signinForm .Uname input{
    font-size: 25px;
    width: 300px;
}

/* -------- sign in form email------- */
.signinForm .email{
    font-size: 25px;
}

/* ---------- sign in form email------*/
.signinForm .email input{
    font-size: 25px;
    width: 300px;
}

/* -------- sign form password------- */
.signinForm .password{
    font-size: 25px;
}

/* ----------sign in password------*/
.signinForm .password input{
    font-size: 25px;
    width: 300px;
}

/* ---------- sign in submit------*/
.signinForm .submitSignin {
    font-size: 25px;
    width: 300px;
    border-radius: 20px;
    background-color:gold;
}

/* ---------- sign in create account------*/
a .createaccoutBtn{
    font-size: 25px;
    width: 300px;
    border-radius: 10px;
    background-color:gold;
}

/* --------Search page ------------- */
.results-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px; 
    margin-bottom: 10px;
}

/* -------- search movie div  ------- */

.results-container .movies {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* --------Search page ------------*/
.results-container .movie .searchTitle {
    margin-top: 50px;
    font-size: 50px;
    display: flex;   
}

.results-container .movie .movie-title{
    font-size: 30px;
}

/* --------search movie div a tag------------*/
.results-container .movie .movie-title a{
    text-decoration: none;
}

/* --------search movie div p tag------------*/
.results-container .movie p{
    font-size: 30px;
    color: blue;
}

/* ------- edit review page------ */
.editReview {
    margin-top: 100px;
    position: center;
    left:60px;
}

/* -------- register form label------- */
.editReview .rating {
    font-size: 25px;
}

/* ---------- register form input------*/
.editReview .rating input{
    font-size: 25px;
    width: 300px;
}

/* -------- register form label------- */
.editReview .comment{
    font-size: 25px;
}

/* ---------- register form email------*/
.editReview .movieId input{
    font-size: 25px;
    width: 300px;
}

/* -------- register form label------- */
.editReview .movieId{
    font-size: 25px;
}

/* ---------- register form email------*/
.editReview .comment input{
    font-size: 25px;
    width: 300px;
}

/* ---------- Edit Review form input------*/
.editReview .edit-review input{
    font-size: 25px;
    width: 300px;
    border-radius: 10px;
    background-color:gold;
}

/* ------- New review page------ */
.newReview {
    margin-top: 100px;
    position: center;
    left:60px;
}

/* -------- New review page rating--- */
.newReview .rating {
    font-size: 25px;
}

/* -------- New review page input------*/
.newReview .rating input{
    font-size: 25px;
    width: 300px;
}

/* -------- New review page comment------- */
.newReview .comment{
    font-size: 25px;
}

/* ---------- New review page comment------*/
.newReview .comment input{
    font-size: 25px;
    width: 300px;
}

/* ---------New review page related movie--- */
.newReview .relatedMovie label{
    font-size: 25px;
    width: 300px;
}

/* ---New review page related movie select-----*/
.newReview .relatedMovie select{
    font-size: 20px;
    width: 300px;
}

/* ---New review page related movie select-----*/
.newReview .createNew input{
    font-size: 25px;
    width: 300px;
    border-radius: 10px;
    background-color:gold;
}

.reviewContainer{
    width: 450px;
}

/* ------- Index review page------ */
.reviewIndex {
    color: white;
    background-color: black;
    border: 10px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    width: 450px;
}

/* ----Index review page a tag------ */
.reviewIndex a {
    color: yellow;
    text-decoration: none;
    font-size: 20px;
}

/* ----Index review reviewer name-- */
.reviewIndex .reviewerName {
    font-size: 25px;
}

/* ----Index review page star icon-- */
.icon{
   color:yellow;
   max-zoom: 30px;
}

/* ----Index review pagstar icon i-- */
.icon i{
   font-size: 20px;
 }

 /* ----Index reviewComment-- */
.reviewIndex .reviewComment{
    font-size: 20px;
}

/* ------some buttons style----- */
.someButtons{
    font-size:18px;
    border: 5px solid green;
    border-radius: 10px;
}

.editBtn{
    font-size:18px;
    border: 5px solid green;
    border-radius: 10px;
}

/*----- row--------  */
.row {
    display: flex;
    flex-direction: row;
}

/*----- column--------  */
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----- container--------  */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#buttons {
    width: 300px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid green;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

h2 {
    margin: 0 auto;
}

h3 {
    margin: 0 auto;
}

p {
    margin: 0 auto;
}

.show {
    color: white;
    width: 400px;
    background-color: black;
    border: 10px solid black;
    border-radius: 10px;
    margin: 10px;
}

.pic {
    width: 400px;
    height: 500px;
    object-fit: contain;
}

.index {
    width: 200px;
    color: white;
    font-size: .5em;
    text-decoration: none;
    background-color: black;
    border: 10px solid black;
    border-radius: 10px;
    margin: 10px;
}

.index.pic {
    width: 200px;
    height: 300px;
    background-color: black;
}

.pic-small {
    width: 100px;
    height: 200px;
    object-fit: contain;
}

.similars {
    text-align: center;
    font-size: 20px;
    color: yellow;
    text-shadow: 2px 2px black;
}

.hidden {
    display: none;
}