body {
    background-color:  pink;
}

.pic {
    width: 300px;
    height: 500px;
    object-fit: contain;
}

.btn{
    background-color: green;

}

.editBtn{
    font-size: 20px;
    border-radius: 20px solid red;
}

.deleteBtn{
    font-size: 18px;
    border-radius: 20px solid red;
}

.hidden {
    display: none;
}