*{
    margin: 0px auto;
    width: 0px auto;
    box-sizing: border-box;
}

/* ------ body style--------- */
body {
    display: flex;
    flex-direction: column;
    background-color:  grey;
    margin: 0 auto;
    width: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://media3.giphy.com/media/l2v1YQMVH8rEAstMyK/giphy.gif?cid=ecf05e47hrmpybzzlbla5jf1cwcaahh6m7goz1dz2k21a3km&rid=giphy.gif&ct=g');
}

/* ----- header tag------- */
header{
    text-align: center;
    font-size: larger;
    color:yellow;
    margin-top: 100px;
    padding: 0px;
}

/* ------ title pages------- */
.movieTitle{
    font-size: 20px;
    color:whitesmoke;
}

/* ------ search------- */
.search {
    position: absolute;
    right:50px;
}

/* -------search engine input---- */
.search .searchengine {
    border: 1px solid grey;
    cursor:pointer;
    font-size:20px;
    padding:10px;
    width :330px;
    border-right: none;
    height: 53px;
}

/* ----search hover---- */
.search .searchBtn :hover{
    background:lightcyan;
} 

.search .searchBtn {
    padding: 20px;
    background:white;
    border: 5px solid blue;
    cursor:pointer;
    border-radius: 40px;
    position: relative;
    margin-left: -5px;
    font-size: 20px;
    color:blue;
}

/* ------- search- for search ejs---- */
.index-nav {
    font-size: 40px;
    text-decoration: none;
    color:whitesmoke;
    position: absolute;
    left:50px;
    margin-top: 30px;
}

/* ---- nav- bar---- */
.nav-menu{
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    left:50px;
    margin-bottom: 40px;
}

/* ---nav p tag------ */
nav p {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    height: 30px;
    margin-top: 20px 20px 20px 30px;
}

/* ----nav a tag---- */
.nav-item a {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-decoration: none;
}

/* ----nav a tag---- */
.nav-menu .nav-item a {
    margin: 10px 20px 20px 40px;
}
/* ----nav item --- */
.nav-item {
    font-size: 30px;
    text-decoration: none;
    color:whitesmoke;
    padding: 10px;
}

/* ------nav a hover-------- */
nav a:hover {
    background-color:black;
}

/* ------- nav div-------*/
nav a div {
    color: black;
}

/* ------- Register form-------- */
.createMovie{
    margin-top: 80px;
}
/* -----edit Movie Page nav----  */
.nav-editMovie{
    font-size: 20px;
    text-decoration: none;
    color:whitesmoke;
    position: absolute;
    left:50px;
    margin-top: 20px;
}

/* -----edit Movie Page nav a tag----  */
.nav-editMovie a {
    text-decoration: none;
    color:whitesmoke;
}

/* -----edit Movie Page----  */
.editMovie{
    margin-top: 60px;
    position: center;
    left:60px;
}

/* --------New Movie create Image------- */

/* -------- Edit Movie title------- */
.editMovie .titleMovie{
    font-size: 25px;
}

/* --------Edit Movie title input------*/
.editMovie .titleMovie input{
    font-size: 25px;
    width: 500px;
}

/* ---------Edit Movie title input-----*/
.editMovie .movieImg input{
    font-size: 25px;
    width: 500px;
}

/* --------Edit Movie release----- */
.editMovie .release{
    font-size: 25px;
}

/* ---------Edit Movie release input-----*/
.editMovie .release input{
    font-size: 25px;
    width: 500px;
}

/* ---------- Edit Movie edit button------*/
.editMovie .editBtn input{
    font-size: 25px;
    width: 500px;
    border-radius: 10px;
    background-color:gold;
}

/* --------New Movie create Release------- */
.createMovie .create label{
    font-size: 25px;
}
/* --------New Movie create Image------- */
.createMovie .create input{
    font-size: 30px;
    width: 500px;
}

/* --------New Movie create Image------- */
.createMovie .createBtn input{
    width: 500px;
    border-radius: 10px;
    background-color:gold;
    font-size: 25px;
}
/* -------register home--------------- */
.register-home {
    font-size: 40px;
    text-decoration: none;
    color:whitesmoke;
    position: absolute;
    left:50px;
    margin-top: 60px;
}

/* -------register page a link -- */
.register-home a{
    text-decoration: none;
    color:white; 
}

/* ------- Register form-------- */
.registerForm{
    margin-top: 80px;
    position: center;
    left:60px;
}

/* -------- register form label------- */
.registerForm .Uname{
    font-size: 25px;
}

/* ---------- register form input------*/
.registerForm .Uname input{
    font-size: 25px;
    width: 300px;
}

/* -------- register form label------- */
.registerForm .email{
    font-size: 25px;
}

/* ---------- register form email------*/
.registerForm .email input{
    font-size: 25px;
    width: 300px;
}

/* -------- register form password------- */
.registerForm .password{
    font-size: 25px;
}

/* ---------- register form password------*/
.registerForm .password input{
    font-size: 25px;
    width: 300px;
}

/* ---------- register form input------*/
.registerForm .create input{
    font-size: 25px;
    width: 300px;
    border-radius: 10px;
    background-color:gold;
}

/* --------sign in home page link ------ */
.signin-home {
    font-size: 40px;
    text-decoration: none;
    color:whitesmoke;
    position: absolute;
    left:50px;
    margin-top: 60px;
}

/* -------sign in page a link ----- */
.signin-home a{
    text-decoration: none;
    color:white; 
}

/* ------- signin form-------- */
.signinForm{
    margin-top: 80px;
    position: center;
    left:60px;
}

/* -------- sign in form User name------- */
.signinForm .Uname{
    font-size: 25px;
}

/* ---------- sign in form input------*/
.signinForm .Uname input{
    font-size: 25px;
    width: 300px;
}

/* -------- sign in form email------- */
.signinForm .email{
    font-size: 25px;
}

/* ---------- sign in form email------*/
.signinForm .email input{
    font-size: 25px;
    width: 300px;
}

/* -------- sign form password------- */
.signinForm .password{
    font-size: 25px;
}

/* ----------sign in password------*/
.signinForm .password input{
    font-size: 25px;
    width: 300px;
}

/* ---------- sign in submit------*/
.signinForm .submitSignin {
    font-size: 25px;
    width: 300px;
    border-radius: 20px;
    background-color:gold;
}

/* ---------- sign in create account------*/
.signinForm a .createaccoutBtn{
    font-size: 25px;
    width: 300px;
    border-radius: 10px;
    background-color:gold;
}

/* --------Search page ------------- */
.results-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px; 
    margin-bottom: 10px;
}

/* -------- search movie div  ------- */

.results-container .movies {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* --------Search page ------------*/
.results-container .movie .searchTitle {
    margin-top: 50px;
    font-size: 50px;
    display: flex;   
}

.results-container .movie .movie-title{
    font-size: 30px;
}

/* --------search movie div a tag------------*/
.results-container .movie .movie-title a{
    text-decoration: none;
}


/* --------search movie div p tag------------*/
.results-container .movie p{
    font-size: 30px;
    color: blue;
}

/* ------------show nav------ */

#searchPage{
    position: absolute;
    right:50px;
}

/* ------- edit review page------ */
.editReview {
    margin-top: 100px;
    position: center;
    left:60px;
}

/* -------- register form label------- */
.editReview .rating {
    font-size: 25px;
}

/* ---------- register form input------*/
.editReview .rating input{
    font-size: 25px;
    width: 300px;
}

/* -------- register form label------- */
.editReview .comment{
    font-size: 25px;
}

/* ---------- register form email------*/
.editReview .movieId input{
    font-size: 25px;
    width: 300px;
}

/* -------- register form label------- */
.editReview .movieId{
    font-size: 25px;
}

/* ---------- register form email------*/
.editReview .comment input{
    font-size: 25px;
    width: 300px;
}


/* ---------- Edit Review form input------*/
.editReview .edit-review input{
    font-size: 25px;
    width: 300px;
    border-radius: 10px;
    background-color:gold;
}

/* ------- New review page------ */
.newReview {
    margin-top: 100px;
    position: center;
    left:60px;
}

/* -------- New review page rating--- */
.newReview .rating {
    font-size: 25px;
}

/* -------- New review page input------*/
.newReview .rating input{
    font-size: 25px;
    width: 300px;
}

/* -------- New review page comment------- */
.newReview .comment{
    font-size: 25px;
}

/* ---------- New review page comment------*/
.newReview .comment input{
    font-size: 25px;
    width: 300px;
}

/* ---------New review page related movie--- */
.newReview .relatedMovie label{
    font-size: 25px;
    width: 300px;
}

/* ---New review page related movie select-----*/
.newReview .relatedMovie select{
    font-size: 20px;
    width: 300px;
}

/* ---New review page related movie select-----*/
.newReview .createNew input{
    font-size: 25px;
    width: 300px;
    border-radius: 10px;
    background-color:gold;
}

/* ------- Index review page------ */
.reviewIndex {
    margin-top: 100px;
    max-width: 400px;
    left:100px;
    margin-left: 40px;
}

/* ----Index review page a tag------ */
.reviewIndex a {
    text-decoration: none;
    font-size: 20px;
}

/* ----Index review reviewer name-- */
.reviewIndex .reviewerName {
    font-size: 25px;

}

/* ----Index review page star icon-- */
.reviewIndex .icon .fas{
   color:yellow;
   max-zoom: 30px;
}

.reviewIndex .icon i{
   font-size: 20px;
 }

.reviewIndex .reviewComment{
    font-size: 20px;
}
/*-----   */
.row {
    display: flex;
    flex-direction: row;
}


.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


h2 {
    margin: 0 auto;
}

h3 {
    margin: 0 auto;
}

p {
    margin: 0 auto;
}

/* nav a{
    text-align: center;
    text-decoration: none;
} */

.show {
    color: white;
    width: 400px;
    background-color: black;
    border: 10px solid black;
    border-radius: 10px;
    margin: 10px;
}

.pic {
    width: 400px;
    height: 500px;
    object-fit: contain;
}

.index {
    width: 200px;
    color: white;
    font-size: .5em;
    text-decoration: none;
    background-color: black;
    border: 10px solid black;
    border-radius: 10px;
    margin: 10px;
}

.index.pic {
    width: 200px;
    height: 300px;
    background-color: black;
}

.pic-small {
    width: 100px;
    height: 200px;
    object-fit: contain;
}

.hidden {
    display: none;
}