<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <a href="/movies">Home</a>
    <h1>New User</h1>
    <form method="POST" action="/users">
        <div>
            <label for="use"> Username : </label>
            <input id="newuser" name="username" type="string" />
        </div>
        <br />
        <div>
            <label for="password"> Password : </label>
            <input id="password" name="password" minlength="8"/>
        </div>
        <br />
        <div>
            <input type="submit" value="Create new User">
        </div>
    </form>
</body>
</html>