<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {pageName: 'Register'}) %>
<body>
    <%- include('../partials/nav.ejs', {pageName: 'Register'}) %>
    <header>
        <h1>Register New User</h1>
    </header>
    <form method="POST" action="/register" class="registerForm">
        <div class="Uname">
            <label for="username">Your name </label>
            <br />
            <input name="username" type="text" />
        </div>
        <br />
        <div class="email">
            <label for="email"> Email </label>
            <br />
            <input name="email" placeholder="example@domain.com"/>
        </div>
        <br />
        <div class="password">
            <label for="password"> Password </label>
            <br />
            <input name="password" type="password" minlength="8"/>
        </div>
        <br />
        <div class="create">
            <input type="submit" value="Register">
        </div>
    </form>
</body>
</html>