<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {pageName: 'Users'}) %>
<body>
     <%- include('../partials/nav.ejs', {pageName: 'Users'}) %> 
    <a href="/movies">Home</a>
    <h1> New User Page</h1>
    <p>User: <%=users.username%></p> 
    <p>password: <%=users.password%></p>
</body>
</html>