<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <header>
        <h1>Sign In</h1>
    </header>
    <div class="signin-home link">
        <a href="/movies">Back to Home Page</a>
    </div>
    <form action="/signin" method="POST" class="signinForm">
        <div class="Uname">
            <label for="username">Yourname</label>
            <br /> 
            <input type="text" placeholder="Enter User Name" name="username" required> <br />
        </div>
        <br /> 
        <div class="email">
            <label for="email"> Email</label>
            <br />
            <input type="text" placeholder="Enter Email" name="email" required> <br />
        </div>
        <br /> 
        <div class="password">
            <label for="password">Password</label>
            <br /> 
            <input type="password" placeholder="Enter Password" name="password" required> <br />
        </div>
        <div>
            <label for="remember">
                <br />
                <input type="checkbox" checked="checked" name="remember" required>Remember me
            </label> 
                <br />
            <button type="submit" class="submitSignin">Sign in</button>
        </div>
            <br />
         ------------------- or----------------------------
        <div>
            <br />
            <a href="/register"> <button class="createaccoutBtn">Create New User</button> </a>
        </div>
    </form>
</body>
</html>